@import '../App.css';
@import '../search/search.css';
@import '../project/project.css';
@import '../revenue/revenue.css';


.dashboardContainer {
    display: flex;
    flex-direction: column;
}

.dashboardSummary {
    display: grid;
    grid-template-columns: repeat(2,400px);    
    grid-auto-rows: minmax(min-content,max-content);
    gap: 1em;
    grid-template-areas: 
        'header header'
        'projectSummary revenueSummary';
    margin-top: 1em;
    margin-left: 1em;    
}

.dashboardDetails {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.dashboardItem{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: minmax(min-content,max-content);
    grid-template-areas: 
        'dashboardItemTitle dashboardItemTitle'
        '. .'
        'dashboardProjectStatus dashboardFirstTaskContainer'
        '. .'
        'dashboardProjectRevenue dashboardSecondTaskContainer'
        '. .'
        'dashboardProjectDueDate .'
        '. .'
        'dashboardProjectRevenueChart .';
    gap: 1em;
    margin-top: 1em;
    margin-left: 1em;
    width: 400px;
    height: 400px;      
    border-radius: 4px;
    background-color:var(--mainComponents-background-color);
    color: var(--text-default-color)
  }
  
.dashboardItemTitle{
    grid-area: dashboardItemTitle;
    font-size: 1.4em;
    margin-top: 0.6em;
    margin-left: 0.6em; 
    width:100%;
    color:var(--text-default-color);
}
  
.dashboardProjectStatus{
    grid-area: dashboardProjectStatus;
    font-size: 0.8em;
    margin-left: 1.2em;
}

.dashboardProjectRevenue{
    grid-area: dashboardProjectRevenue;
    font-size: 0.8em;
    margin-left: 1.2em;
}

.dashboardProjectDueDate {
    grid-area: dashboardProjectDueDate;
    font-size: 0.8em;
    margin-left: 1.2em;
}

.dashboardFirstTaskContainer {
    grid-area: dashboardFirstTaskContainer;
    display:flex;
    flex-direction: row;
    font-size: 0.8em;
}

.dashboardFirstTaskName {
    margin-left: 0.5em;
}

.dashboardSecondTaskContainer {
    grid-area: dashboardSecondTaskContainer;
    display:flex;
    flex-direction: row;
    font-size: 0.8em;
}

.dashboardSecondTaskName {
    margin-left: 0.5em;
}

.dashboardProjectRevenueChart {
    grid-area: dashboardProjectRevenueChart;   
}

div[id^='revenueChart'] {
    height: 185px;
    margin-left: 0.5em;
}

.dashboardRevenueNotForecasted {
    display: flex;
    flex-direction: row;
    font-size: 0.8em;
    margin-left: 1.2em;
}

.dashboardRevenueNotForecasted p{
    margin-left: 0.5em
}