@import '../App.css';

.projectSummaryContainer{ 
    grid-area: projectSummary;
    display:grid;
    border-radius: 4px;
    background-color: var(--mainComponents-background-color);
    color: var(--text-default-color);
    width: 400px;
    grid-template-columns: repeat(3,1fr);
}

.projectSummaryTitle{
    grid-column: span 3;
    font-size: 1.2em;
    margin-top: 0.8em;
    margin-left: 0.8em;    
}

.projectSummaryDetail{
    display:grid;
    align-items: center;
    justify-items: center;
    grid-column: span 3;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
}

.projectSummaryOnTrackNumber, .projectSummaryAtRiskNumber, .projectSummaryOnHoldNumber {
    font-size: 1.8em;
    margin-top: 0.2em;    
}

.projectSummaryOnTrackNumber{
    color: var(--onTrack-color);
}

.projectSummaryAtRiskNumber{
    color: var(--atRisk-color);
}

.projectSummaryOnHoldNumber{
    color: var(--onHold-Color);
}

.projectSummaryOnTrack, .projectSummaryAtRisk, .projectSummaryOnHold {
    font-size: 0.8em;    
}

.projectContainer{
    display:grid;
    grid-template-areas: 
        'search search .'
        'projectDetailContainer projectDetailContainer .'
        'projectBacklogContainer projectInProgressContainer projectDoneContainer';
    grid-template-columns: repeat(3,calc(400px + 0.5em));/*0.5 em added to match the gap between projectDetailDates and projectDetailStatus*/
    grid-auto-rows: minmax(min-content,max-content);
    gap: 1em;
    margin-top: 1em;
    margin-left: 1em;    
}

.projectDetailContainer{
    grid-area: projectDetailContainer;
    border-radius: 4px;    
    display: grid;
    grid-template-columns: 400px repeat(2,200px);
    grid-auto-rows: minmax(min-content,max-content);
    grid-template-areas: 
        'projectDetailTitle projectDetailTitle projectDetailTitle'
        'projectDetailDescription projectDetailDates projectDetailStatus'
    ;
    gap: 1em;
    background-color: var(--mainComponents-background-color);
    color: var(--text-default-color);    
  }
   
.projectDetailTitle{
    font-size: 1.2em;
    margin-top: 0.4em;
    margin-left: 0.4em;
    grid-area: projectDetailTitle;
    font-weight: normal;    
}

.projectDetailDescription{
    grid-area: projectDetailDescription;
    border-style:none;  
    resize: none;
    font-size: 0.8em;
    background-color: var(--mainComponents-background-color);
    color: var(--text-default-color);
    margin-left: 0.8em;
    margin-bottom: 0.8em;
    width: 100%;
}

.projectDetailDates{
    grid-area: projectDetailDates;
    margin-bottom: 0.8em;
    display: grid;
    grid-template-columns: 1fr 5fr;
    align-items: center;
    grid-template-areas:
        'projectDetailStartLabel projectDetailStartValue'
        'projectDetailFinishLabel projectDetailFinishValue';    
}

.projectDetailStartLabel{
    grid-area: projectDetailStartLabel;
    font-size: 0.8em;    
}

#projectDetailStartValue{
    grid-area: projectDetailStartValue;
}

.projectDetailFinishLabel{
    grid-area: projectDetailFinishLabel;
    font-size: 0.8em;
}

#projectDetailFinishValue{
    grid-area: projectDetailFinishValue;       
}

#projectDetailStartValue, #projectDetailFinishValue{
    background-color: var(--mainComponents-background-color);
    color: var(--text-default-color);
    border: none;
    font-size: 0.8em;    
}
 
  #projectDetailStartValue::-webkit-inner-spin-button, #projectDetailStartValue::-webkit-outer-spin-button, #projectDetailStartValue::-webkit-clear-button,
  #projectDetailFinishValue::-webkit-inner-spin-button, #projectDetailFinishValue::-webkit-outer-spin-button, #projectDetailFinishValue::-webkit-clear-button{
    -webkit-appearance: none;
     margin:0;
     padding:0
}

.projectDetailStatus{
    margin-bottom: 0.8em;
    grid-area: projectDetailStatus;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    grid-template-areas:
        'projectDetailRevenueLabel projectDetailRevenueValue'
        'projectDetailStatusLabel projectDetailStatusValue';
}

.projectDetailRevenueLabel{
    grid-area: projectDetailRevenueLabel;
    font-size: 0.8em;
}

#projectDetailRevenueValue{
    grid-area: projectDetailRevenueValue;
    background-color: var(--mainComponents-background-color);
    border: none;
    font-size: 0.8em;    
    width: calc(100% - 0.8em);    
}

.projectDetailStatusLabel{
    grid-area: projectDetailStatusLabel;
    font-size: 0.8em;
}

#projectDetailStatusValue{
    grid-area: projectDetailStatusValue;
    background-color: var(--mainComponents-background-color);
    border: none;
    font-size: 0.8em;    
    width: calc(100% - 0.8em);
    -webkit-appearance: none;
}

.projectBacklogContainer{
    grid-area: projectBacklogContainer;
    display: flex;
    flex-direction: column;
}

.projectBacklogSummary{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3,1fr);
    grid-template-areas: 
        'projectBacklogInfoTitle projectBacklogInfoTitle'
        'projectBacklogInfoTotalTasksValue projectBacklogInfoTasksAtRiskValue'
        'projectBacklogInfoTotalTasksName projectBacklogInfoTasksAtRiskName';
}

.projectBacklogInfoTitle{
    grid-area: projectBacklogInfoTitle;
    font-size: 1.2em;
    margin-top: 0.8em;
    margin-left: 0.8em;
}

.projectBacklogInfoTotalTasksValue{
    grid-area: projectBacklogInfoTotalTasksValue;
    color: var(--info-Color);
}

.projectBacklogInfoTasksAtRiskValue{
    grid-area: projectBacklogInfoTasksAtRiskValue;
    color: var(--atRisk-color);
}

.projectBacklogInfoTotalTasksName{
    grid-area: projectBacklogInfoTotalTasksName;
}

.projectBacklogInfoTasksAtRiskName{
    grid-area: projectBacklogInfoTasksAtRiskName;
}

.projectBacklogInfoTotalTasksValue, .projectBacklogInfoTasksAtRiskValue,
.projectBacklogInfoTotalTasksName, .projectBacklogInfoTasksAtRiskName{
    align-self: center;
    justify-self: center;
}

.projectBacklogInfoTotalTasksValue, .projectBacklogInfoTasksAtRiskValue{
    font-size: 1.8em;
    margin-top: 0.2em;
}

.projectBacklogInfoTotalTasksName, .projectBacklogInfoTasksAtRiskName{
    font-size: 0.8em;
}

.projectInProgressContainer{
    grid-area: projectInProgressContainer;
    display: flex;
    flex-direction: column;
}
 
.projectInProgressSummary{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3,1fr);
    grid-template-areas: 
        'projectInProgressInfoTitle projectInProgressInfoTitle'
        'projectInProgressInfoTasksAtRiskValue projectInProgressInfoForecastValue'
        'projectInProgressInfoTasksAtRiskName projectInProgressInfoForecastName';
}

.projectInProgressInfoTitle{
    grid-area: projectInProgressInfoTitle;
    font-size: 1.2em;
    margin-top: 0.8em;
    margin-left: 0.8em;
}

.projectInProgressInfoTasksAtRiskValue{
    grid-area: projectInProgressInfoTasksAtRiskValue;
    color: var(--atRisk-color);
}

.projectInProgressInfoForecastValue{
    grid-area: projectInProgressInfoForecastValue;
    color: var(--info-Color);
}

.projectInProgressInfoTasksAtRiskName{
    grid-area: projectInProgressInfoTasksAtRiskName;
    
}

.projectInProgressInfoForecastName{
    grid-area: projectInProgressInfoForecastName;    
}

.projectInProgressInfoTasksAtRiskValue, .projectInProgressInfoForecastValue,
.projectInProgressInfoTasksAtRiskName, .projectInProgressInfoForecastName{
    align-self: center;
    justify-self: center;
}   

.projectInProgressInfoTasksAtRiskValue, .projectInProgressInfoForecastValue{
    font-size: 1.8em;
    margin-top: 0.2em;
}

.projectInProgressInfoTasksAtRiskName, .projectInProgressInfoForecastName{
    font-size: 0.8em;
}

.projectDoneContainer{
    grid-area: projectDoneContainer;    
}

.projectBacklogSummary, .projectInProgressSummary, .projectDoneSummary{
    border-radius: 4px;
    background-color: var(--mainComponents-background-color);
    color: var(--text-default-color);
    width: 100%;
}

.projectTaskContainer{
    margin-top: 1em;
    border-radius: 4px;
    background-color: var(--mainComponents-background-color);
    color: var(--text-default-color);
    display: grid;
    grid-template-columns: repeat(4,100px);
    align-items: end;
    grid-template-areas:
        'projectTaskTitle projectTaskTitle projectTaskTitle projectTaskTitle'
        'projectTaskStatusLabel  projectTaskStatusValue projectTaskDueLabel projectTaskDueValue'
        'projectTaskRevenueLabel projectTaskRevenueValue projectTaskAssignedLabel projectTaskAssignedValue'
        'projectTaskComments projectTaskComments projectTaskComments projectTaskComments';
}

.projectTaskTitle{
    grid-area: projectTaskTitle;
    font-weight: normal;
    font-size: 1.2em;
    margin-top: 0.8em;
    margin-left: 0.8em;
} 

.projectTaskContainer label, textarea{
    margin-top: 1.2em;
    font-size: 0.8em;
}

.projectTaskStatusLabel{
    grid-area: projectTaskStatusLabel;
    margin-left: 1.2em;    
}

.projectTaskContainer select{
    background-color: var(--mainComponents-background-color);
    color: var(--text-default-color);
    border: none;
    font-size: 0.8em;
    -webkit-appearance: none;
}

select[id^='projectTaskStatusValue']{
    grid-area: projectTaskStatusValue;    
}

.projectTaskDueLabel{
    grid-area: projectTaskDueLabel;
}

input[id^='projectTaskDueValue']{
    grid-area: projectTaskDueValue;
    background-color: var(--mainComponents-background-color);
    color: var(--text-default-color);
    border: none;
    font-size: 0.8em;
}

input[id^='projectTaskDueValue']::-webkit-calendar-picker-indicator{
    margin-left: 0;
}

.projectTaskRevenueLabel{
    grid-area: projectTaskRevenueLabel;
    margin-left: 1.2em;    
}

input[id^='projectTaskRevenueValue']{
    grid-area: projectTaskRevenueValue;
    background-color: var(--mainComponents-background-color);
    border: none;
    font-size: 0.8em;    
}

.projectTaskAssignedLabel{
    grid-area: projectTaskAssignedLabel;
}

select[id^='projectTaskAssignedValue']{
    grid-area: projectTaskAssignedValue;    
}


.projectTaskComments{
    grid-area: projectTaskComments;    
    margin-left: 1.2em;
    border-style:none;  
    resize: none;
    background-color: var(--mainComponents-background-color);
    color: var(--text-default-color);
    margin-bottom: 1.2em;
    width: calc(100% - 2.4em);

}
