@import '../App.css';

.projectSummaryContainer{
    grid-area: projectSummary;
    display:grid;
    border-radius: 4px;
    background-color: var(--mainComponents-background-color);
    color: var(--text-default-color);
    margin-left: 1em;
    width: 400px;
    grid-template-columns: repeat(3,1fr);
}

.projectSummaryTitle{
    grid-column: span 3;
    font-size: 1.2em;
    margin-top: 0.8em;
    margin-left: 0.8em;    
}

.projectSummaryGrid{
    display:grid;
    align-items: center;
    justify-items: center;
    grid-column: span 3;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
}

.projectSummaryOnTrackNumber, .projectSummaryAtRiskNumber, .projectSummaryOnHoldNumber {
    font-size: 1.8em;
    margin-top: 0.2em;    
}

.projectSummaryOnTrackNumber{
    color: var(--onTrack-color);
}

.projectSummaryAtRiskNumber{
    color: var(--atRisk-color);
}

.projectSummaryOnHoldNumber{
    color: var(--onHold-Color);
}

.projectSummaryOnTrack, .projectSummaryAtRisk, .projectSummaryOnHold {
    font-size: 0.8em;    
}

