h1 {
  margin:0;
}

.projectsContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.dashboardTitle{
  background: #34ac38;
  text-align: center;
  color:white;
  margin-bottom: 1em;
}

.projectContainer {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  margin: 10px;
  display:flex;
  flex-direction:column;
  justify-content:flex-end;
  align-items:center;
  padding-bottom:5px;
}

.classPjStatus{
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate
}

.noAnimation {
  animation: none !important;
}

@keyframes statusAnimationRule{
  from {
    color: purple    
  }
  to {
    color:white
  }
}

.iconPjStatus{
  color:white;
  font-size: 2em;
}
.iconPjStatus:hover {
  color:red;
}

.dashboardItemContainer{
  width: 160px;
  height: 160px;
  margin: 10px;
  border-style: solid;
  border-color: #EFF0F0;
  border-radius: 3%;
}

.dashboardItemContainerTitle{
  display: flex;
  justify-content: center;
  align-items: center;
  width:160px;
  height: 30px;
  border-bottom-style: solid;
  border-color: #EFF0F0;
  background-color: #F4F5F5;
  color:#6B7C8C;
  font-size: 1em;
}
