.navigationBar{
  background-color:#333333;
  top:0;
  left:0;
  height:100%;
  width:109px;  
  position: fixed;
  overflow-y: hidden;
  z-index: 1;
  box-sizing: border-box;
}

.navigationBar ul{
  list-style-type: none;
  margin: 0px;
  padding: 10px 0px;  
}

.navigationBar li a{
  color:#E3E1E1;
  text-decoration: none;
  display: block;
  padding-left: 10px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.navigationBar li a:hover{
  background-color: #252526;
  color:#E3E1E1;
}

.projectsContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin-left: 109px;
  box-sizing: border-box;
}


.classPjStatus{
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate
}

.noAnimation {
  animation: none !important;
}

@keyframes statusAnimationRule{
  from {
    color: purple    
  }
  to {
    color:white
  }
}

.iconPjStatus{
  color:white;
  font-size: 2em;
}
.iconPjStatus:hover {
  color:red;
}

.dashboardItemContainer{
  width: 400px;
  height: 400px;
  margin: 10px;
  border-style: solid;
  border-color: #EFF0F0;
  border-radius: 3%;
}

.dashboardItemContainerTitle{
  display: flex;
  justify-content: center;
  align-items: center;
  width:400px;
  height: 25px;
  border-bottom-style: solid;
  border-color: #EFF0F0;
  background-color: #F4F5F5;
  color:#6B7C8C;
  font-size: 1em;
}

.taskInfoDashboard{
  display: flex;
  flex-direction: row;
}

.taskOverviewList{
  display:'flex';
  justify-content: center;
  flex-direction:'column';  
  align-items: flex-start;
  padding-left: 0px;
  margin-top: 22px;
  list-style: none;
  font-family: 'Arial';
  font-size: 0.75em;
}

.taskOverviewList li a{
  text-decoration: none;
}

.revenueInfoDashboard{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.revenueTotal{
  margin-left: 30px;
  text-decoration: none;
}

.project{
  display:flex;
  flex-direction:row;
  justify-content:flex-start;
  align-items:flex-start;
}

.projectDetail{
  width: 20%;
}


.taskGrid{
  display: grid;
  grid-auto-rows: 3em;
  align-items: center;
  width:50%;
}

.taskDetail {
  width:30%;
  margin-left: 20px;
}

.taskItem{ 
  display:grid;
  align-items: center;
  border-style:none none solid none;  
  border-width: thin; 
  border-color: #E5E5E5;
  resize: none;
  font-size: 1em;
}
