.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.projectsContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.projectContainer {
  height: 160px;
  width: 160px;
  border-radius: 50%;
  margin: 10px;
  display:flex;
  flex-direction:column;
  justify-content:flex-end;
  align-items:center;
  padding-bottom:5px;
}

.classPjStatus{
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate
}

.noAnimation {
  animation: none !important;
}

@keyframes statusAnimationRule{
  from {
    color: purple    
  }
  to {
    color:white
  }
}

.iconPjStatus{
  color:white;
  font-size: 2em;
}
.iconPjStatus:hover {
  color:red;
}
