* {
  margin:0;
  padding:0;
  box-sizing: border-box;
  
}

:root{
  --site-background-color:#212529;
  --mainComponents-background-color:#2B2F33;
  --text-default-color:#E0E0E0;
  --onTrack-color:#7ED3B2;
  --atRisk-color:#FFB185;
  --delayed-color:#E87998;
  --onHold-Color:#63C6E7;
  --complete-Color:#5D7FF5;
  --info-Color: #B290EB;
}

body{
  background-color: var(--site-background-color);
}

.App{
  display: flex;
  flex-direction: row; 
}

.navigationBar{
  background-color: var(--mainComponents-background-color);
  width: 7em;
  height:100vh;  
}

.navigationBar ul{
  list-style-type: none;
  margin-top: 1em;  
}

.navigationBar li a{
  text-decoration: none;
  display: block;  
  padding-left: 1em;
  padding-top: 1em;
  padding-bottom: 1em;  
}

.navigationBar li a:hover{
  color: var(--info-Color);  
}

.navBarLinkDefault{
  color: var(--text-default-color);
}
.activeNavBarLink {
  background-color: rgba(178, 144, 235, 0.15);
  color:var(--info-Color);
}

.classPjStatus{
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate
}

.noAnimation {
  animation: none !important;
}

@keyframes statusAnimationRule{
  from {
    color: purple    
  }
  to {
    color:white
  }
}

.iconPjStatus{
  color:white;
  font-size: 2em;
}
.iconPjStatus:hover {
  color:red;
}

.revenueInfoDashboard{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.revenueTotal{
  margin-left: 30px;
  text-decoration: none;
}

.project{
  display:flex;
  flex-direction: column;
  width:100%;
}

#projectDetail{
  margin: 10px 10px 5px 5px;
  padding-left: 20px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #161F2C;
  color:white;
}

#projectInfo {
  display: grid;
  grid-template-columns: 1.2em auto auto auto;
  column-gap: 10px;

}

#pjDescriptionIcon{
  grid-area:1/1/1/2
}

#pjDescriptionText{
  grid-area: 1/2/1/3;
  border-style:none;  
  resize: none;
  font-size: 1em;
  color: white;
  background-color: #161F2C;
}

#projectDate {
  grid-area:1/3/1/4
}

#projectStatus {
  grid-area:1/4/1/5;
}

#startDate, #dueDate {
  border: none;
  background-color: #161F2C;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 0.9em;
  color:white;
}

#startDate::-webkit-inner-spin-button, #startDate::-webkit-outer-spin-button, #startDate::-webkit-clear-button,
#dueDate::-webkit-inner-spin-button, #dueDate::-webkit-outer-spin-button, #dueDate::-webkit-clear-button{
  -webkit-appearance: none;
   margin:0;
   padding:0
}

#statusDataList{
  border: none;
  background-color: #161F2C;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 0.9em;
  color:white;
}

.taskContainer{
  display: flex;
  flex-direction: row;
}

.taskGrid{
  display: grid;
  grid-auto-rows: 3em;
  align-items: center;
  height: 100vh;
  margin-top: 5px;
  margin-bottom: 10px;
  margin-left: 5px;
  background-color: #161F2C;
}

.taskItem{
  display:grid;
  grid-template-columns: 1.2em auto;
  column-gap: 10px;
}

.taskCheckIcon {
  font-size: '1.2em';
  color: white;
  margin-left: 5px;
}

.taskDescription{ 
  display:grid;
  align-items: center;
  border-style:none none dotted none;  
  border-width: thin; 
  border-color: #E5E5E5;
  resize: none;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 0.9em;
  background-color: #161F2C;
  color:white;
}

.taskDetail {
  display: grid;
  grid-auto-rows: 3em;
  row-gap: 5px;
  width:30%;
  height: 100vh;
  margin: 5px 10px 10px 5px;
  padding-left: 20px;
  background-color: #F5F5F5; 
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 0.9em;
  color:#878789;
}

.taskDetailItem{
  display:grid;
  align-items: flex-start;
  grid-template-columns: 1.2em auto;
  margin-top:5px;
  column-gap: 5px;
  background-color:white;
}

.taskDetailIcon {
  margin-top: 3px;
  font-size: '1.2em';
  color: #7B47BB;
  margin-left: 5px;
}

.taskDetail textarea{
  display:grid;
  border-style:none;  
  resize: none;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 0.9em;
  color:#878789;
}

.dueDateDetail {
  border: none;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 0.9em;
  color:#878789;
}

.dueDateDetail::-webkit-inner-spin-button, .dueDateDetail::-webkit-outer-spin-button, .dueDateDetail::-webkit-clear-button{
  -webkit-appearance: none;
   margin:0;
   padding:0
}

.statusDataListDetail{
  border: none;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 0.9em;
  background-color:white;
  color:#878789;
}

#closeDetailIcon {
  justify-self: right;
  align-self: end;
  margin-right: 10px;
  color:#7B47BB
}

.revenueContainer{
  display: flex;
  flex-direction: row;
}

.revenueGrid{
  display: grid;
  grid-auto-rows: 3em;
  align-items: center;
  height: 100vh;
  margin-top: 5px;
  margin-bottom: 10px;
  margin-left: 5px;
  background-color: #161F2C;
  color:white
}

.revenueItem{
  display:grid;
  grid-template-columns: 2% 38% 15% 10% 35%;
  column-gap: 5px;
}

.revenueCheckIcon {
  font-size: '1.2em';
  color: white;
  margin-left: 5px;
}

.revenueDescription{ 
  display:grid;
  align-items: center;
  border-style:none;
  resize: none;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 0.9em;
  background-color: #161F2C;
  color:white;
}

.revenueAmount{ 
  display:grid;
  align-items: center;
  border-style:none;
  resize: none;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 0.9em;
  background-color: #161F2C;
  color:white;
}

.revenueDate{ 
  align-items: center;  
  border-style:none;  
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 0.9em;
  background-color: #161F2C
}

.revenueDate::-webkit-inner-spin-button, .revenueDate::-webkit-outer-spin-button, .revenueDate::-webkit-clear-button{
  -webkit-appearance: none;
   margin:0;
   padding:0
}

