* {
  box-sizing: border-box;
}
body{
  background-color: #000000;
}
.App{
  display: flex;
  flex-direction: row;
  background-color: #000000;
}

.navigationBar{
  background-color:#000000;
  width:109px;
}

.navigationBar ul{
  list-style-type: none;
  margin: 0px;
  padding: 10px 0px;  
}

.navigationBar li a{
  color:#E3E1E1;
  text-decoration: none;
  display: block;
  padding-left: 10px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.navigationBar li a:hover{
  background-color: #252526;
  color:#E3E1E1;
}

.projectsContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
 }


.classPjStatus{
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate
}

.noAnimation {
  animation: none !important;
}

@keyframes statusAnimationRule{
  from {
    color: purple    
  }
  to {
    color:white
  }
}

.iconPjStatus{
  color:white;
  font-size: 2em;
}
.iconPjStatus:hover {
  color:red;
}

.dashboardItem{
  width: 400px;
  height: 400px;
  margin: 10px;
  border-style: solid;
  border-color: #EFF0F0;
  border-radius: 3%;
}

.dashboardItemTitle{
  display: flex;
  justify-content: center;
  align-items: center;
  width:100%;
  height: 25px;
  border-bottom-style: solid;
  border-color: #EFF0F0;
  background-color: #F4F5F5;
  color:#6B7C8C;
  font-size: 1em;
}

.taskInfoDashboard{
  display: flex;
  flex-direction: row;
}

.taskOverviewList{
  padding:0;
  margin:0;
  width:130px;
  list-style: none;
  font-family: 'Arial';
  font-size: 0.75em;
}

.taskOverviewList li a{
  text-decoration: none;
}

.revenueInfoDashboard{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.revenueTotal{
  margin-left: 30px;
  text-decoration: none;
}

.project{
  display:flex;
  flex-direction: column;
  width:100%;
}

#projectDetail{
  margin: 10px 10px 5px 5px;
  padding-left: 20px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #161F2C;
  color:white;
}

#projectInfo {
  display: grid;
  grid-template-columns: 1.2em auto auto auto;
  column-gap: 10px;

}

#pjDescriptionIcon{
  grid-area:1/1/1/2
}

#pjDescriptionText{
  grid-area: 1/2/1/3;
  border-style:none;  
  resize: none;
  font-size: 1em;
  color: white;
  background-color: #161F2C;
}

#projectDate {
  grid-area:1/3/1/4
}

#projectStatus {
  grid-area:1/4/1/5;
}

#startDate, #dueDate {
  border: none;
  background-color: #161F2C;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 0.9em;
  color:white;
}

#startDate::-webkit-inner-spin-button, #startDate::-webkit-outer-spin-button, #startDate::-webkit-clear-button,
#dueDate::-webkit-inner-spin-button, #dueDate::-webkit-outer-spin-button, #dueDate::-webkit-clear-button{
  -webkit-appearance: none;
   margin:0;
   padding:0
}

#statusDataList{
  border: none;
  background-color: #161F2C;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 0.9em;
  color:white;
}

.taskContainer{
  display: flex;
  flex-direction: row;
}

.taskGrid{
  display: grid;
  grid-auto-rows: 3em;
  align-items: center;
  height: 100vh;
  margin-top: 5px;
  margin-bottom: 10px;
  margin-left: 5px;
  background-color: #161F2C;
}

.taskItem{
  display:grid;
  grid-template-columns: 1.2em auto;
  column-gap: 10px;

}

.taskCheckIcon {
  font-size: '1.2em';
  color: white;
  margin-left: 5px;
}

.taskDescription{ 
  display:grid;
  align-items: center;
  border-style:none none dotted none;  
  border-width: thin; 
  border-color: #E5E5E5;
  resize: none;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 0.9em;
  background-color: #161F2C;
  color:white;
}

.taskDetail {
  width:30%;
  height: 100vh;
  margin: 5px 10px 10px 5px;
  padding-left: 20px;
  background-color:white;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 0.9em;
  color:gray;
}

