@import '../App.css';

.revenueSummaryContainer{
    grid-area: revenueSummary;
    display:grid;
    border-radius: 4px;
    background-color: var(--mainComponents-background-color);
    color: var(--text-default-color);
    width: 400px;
    grid-template-columns: repeat(3,1fr);
}

.revenueSummaryTitle{
    grid-column: span 3;
    font-size: 1.2em;
    margin-top: 0.8em;
    margin-left: 0.8em;    
}

.revenueSummaryGrid{
    display:grid;
    align-items: center;
    justify-items: center;
    grid-column: span 3;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
}

.revenueSummaryForecastedNumber,
.revenueSummaryInvoicedNumber,
.revenueSummaryAtRiskNumber {
    font-size: 1.8em;
    margin-top: 0.2em;    
}

.revenueSummaryForecastedNumber{
    color: var(--info-Color);
}

.revenueSummaryInvoicedNumber{
    color: var(--onTrack-color);
}

.revenueSummaryAtRiskNumber{
    color: var(--atRisk-color);
}

.revenueSummaryForecasted,
.revenueSummaryInvoiced,
.revenueSummaryAtRisk
 {
    font-size: 0.8em;    
}
